In [1]:
from sklearn.linear_model import LinearRegression

In [2]:
model = LinearRegression()

In [3]:
import seaborn as sns

In [6]:
df = sns.load_dataset('tips')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
df.tip

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [9]:
df.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [12]:
df.iloc[:, 0]

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [14]:
df.iloc[:, 0].shape

(244,)

In [15]:
df.iloc[:, :1].shape

(244, 1)

In [11]:
df.total_bill.shape

(244,)

In [18]:
model.__dict__

{'fit_intercept': True,
 'normalize': 'deprecated',
 'copy_X': True,
 'n_jobs': None,
 'positive': False,
 'feature_names_in_': array(['total_bill'], dtype=object),
 'n_features_in_': 1,
 'coef_': array([0.10502452]),
 '_residues': 252.78874385077597,
 'rank_': 1,
 'singular_': array([138.77486834]),
 'intercept_': 0.920269613554674}

In [ ]:
model.fit(X=df.iloc[:, 0], y=df.iloc[:,